$base: 16;

.articleHeader {
  margin-bottom: 30rem / $base;

  h1 {
    margin-bottom: 10rem / $base;
    font-size: 1.8rem;
  }
}

.articleInfo {
  display: flex;
  font-size: 10rem / $base;

  span:after {
    content: '·';
    margin: 5px;
  }

  span:last-child:after {
    content: '';
  }

  .link {
    cursor: pointer;
    user-select: none;

    &:hover {
      color: var(--hover);
    }
  }
}
