@import 'antd/lib/style/themes/default.less';
@import 'antd/dist/antd.less'; // 引入官方提供的 less 样式入口文件
@import 'highlight.js/styles/github.css';
@import './theme.less'; // 用于覆盖上面定义的变量
@import './calcrem.css';
@import './web.less'; // 通用样式

html,
body {
  font: 400 16px/1.5 Segoe UI, system-ui, -apple-system, sans-serif;
}

html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
