html {
  --base: calc(375 / 2);
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 480px / var(--base);
  }
}

@media only screen and (max-width: 414px) {
  html {
    font-size: 414px / var(--base);
  }
}

@media only screen and (max-width: 412px) {
  html {
    font-size: 412px / var(--base);
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 400px / var(--base);
  }
}

@media only screen and (max-width: 393px) {
  html {
    font-size: 393px / var(--base);
  }
}

@media only screen and (max-width: 375px) {
  html {
    font-size: 100px;
  }
}

@media only screen and (max-width: 360px) {
  html {
    font-size: 360px / var(--base);
  }
}

@media only screen and (max-width: 345px) {
  html {
    font-size: 345px / var(--base);
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 320px / var(--base);
  }
}

html {
  -webkit-text-size-adjust: none;
  font-size: calc(100vw / var(--base));
}

@media only screen and (min-width: 640px) {
  html {
    font-size: 16px;
  }
}
