body {
  --pink: #ffcfdf;
  background-color: var(--bg);
  color: var(--textNormal);
}

body.light {
  --bg: #fff;
  /* --header: var(--pink); */
  --textNormal: #222831;
  --textTitle: #222831;
  --textLink: #f65c78;
  --hr: rgba(0, 0, 0, 0.2);
  --inlineCode-bg: #5cf6ee;
  --hover: #f65c78;
  --inlineCode-text: #111;
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #282c35;
  --header: #fff;
  --textNormal: hsla(0, 0%, 100%, 0.88);
  --textTitle: #fff;
  --textLink: var(--pink);
  --hr: hsla(0, 0%, 100%, 0.2);
  --inlineCode-bg: #373c49;
  --inlineCode-text: #e6e6e6;
}

a {
  box-shadow: 0 1px 0 0 currentColor;
  &:hover {
    box-shadow: none;
  }
}
